link(rel='stylesheet', type='text/css', href='/style.css')
.gallery
	.gallery__strip__wrapper
		.gallery__strip.one
			.photo
				.photo__image
					img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-kyoto.jpeg")
				.photo__name Kyoto
			.photo
				.photo__image
					img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-austria.jpeg")
				.photo__name Halstatt
			.photo
				.photo__image
					img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-peru.jpeg")
				.photo__name Peru
			.photo
				.photo__image
					img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-rio.jpeg")
				.photo__name Rio
			

	.gallery__strip__wrapper
		.gallery__strip.two
			.photo
				.photo__image
					img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-italy.jpeg")
				.photo__name Italy
	
			.photo
				.photo__image
					img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-osaka.jpeg")
				.photo__name Osaka
			.photo
				.photo__image
					img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-bali.jpeg")
				.photo__name Bali
			.photo
				.photo__image
					img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-paris2.jpg")
				.photo__name Paris
		
	.gallery__strip__wrapper
		.gallery__strip.three
			.photo
				.photo__image
					img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-cusco.jpeg")
				.photo__name Cusco
			.photo
				.photo__image
					img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-rome.jpeg")
				.photo__name Rome
			.photo
				.photo__image
					img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-paris.jpeg")
				.photo__name Paris
			.photo
				.photo__image
					img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-bali2.jpeg")
				.photo__name Bali
				
				
	.gallery__strip__wrapper
		.gallery__strip.four
			.photo
				.photo__image
					img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-milan.jpeg")
				.photo__name Milan
			.photo
				.photo__image
					img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-budapest.jpg")
				.photo__name Budapest

			.photo
				.photo__image
					img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-vienna.jpg")
				.photo__name Vienna
			.photo
				.photo__image
					img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/gg-mexico.jpg")
				.photo__name Mexico

